/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 2rem;
    font-size: 1.6rem;
}

@media (max-width: 500px) {

}

@media (max-width: 800px) {

}

.container {
    width: 95%;
    max-width: 80rem;
    margin: 0 auto;
}

@media (max-width: 800px) {
    .container {
        width: 100%;
    }
}

header {
    display: flex;
    margin: 2rem 0 4rem 0;
    width: 100%;
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.1rem;
    }

    header img {
        width: 15rem;
        margin-bottom: 4.8rem;
    }
}

nav {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

@media (max-width: 800px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    #product-nav {
        display: none;
    }
}

nav a {
    margin: 0 6%;
    font-size: 1.4rem;
    text-decoration: none;
    color: #000;
}

@media (max-width: 800px) {
    header nav a {
        background-image: linear-gradient(#fff, #bebebe);
        border-radius: 5px;
        border: 1px solid #a2a2a2;
        width: 25rem;
        margin: 0;
        padding: 0.5rem 0;
        text-align: center;
    }
}

.jumbo {
    margin-bottom: 25px;
}

.jumbo img {
    max-width: 80rem;
    width: 100%;
    transform: scale(1.0);
    transition: all 0.5s ease-in-out;
}

.jumbo img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

@media (max-width: 800px) {
    .jumbo {
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    .jumbo img {
        height: 18rem;
    }
}

.form-container {
    margin: 1rem 0;
}
form {
    font-size: 1.8rem;
}

.form-submit {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: none;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    border-bottom: 1px dashed black;
}
@media (max-width: 500px) {
    .top-content {
        flex-direction: column;
        align-items: center;
    }
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 2rem;
}

@media (max-width: 800px) {
    .top-content .text-container {
        width: 95%;
    }

    .top-content .text-container h2 {
        font-size: 2.3rem;
    }

    .top-content .text-container p {
        line-height: 2rem;
        font-size: 1.3rem;
        color: #767676;
    }
}


.middle-content {
    margin-bottom: 2rem;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

@media (max-width: 800px) {
    .middle-content h2 {
        text-align: center;
    }
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

@media (max-width: 800px) {
    .middle-content .boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
    }
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    .middle-content .boxes .box {
        width: 23%;
        height: 111px;
        margin: 0.75rem 0;
    }
}

#box1 { background-color: teal; }
#box2 { background-color: gold; }
#box3 { background-color: cadetblue; }
#box4 { background-color: coral; }
#box5 { background-color: crimson; }
#box6 { background-color: forestgreen; }
#box7 { background-color: darkorchid; }
#box8 { background-color: hotpink; }
#box9 { background-color: indigo; }
#box10 { background-color: dodgerblue; }

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

@media (max-width: 800px) {
    .bottom-content {
        display: flex;
        flex-direction: column;
        margin: 0 2% 20px;
        justify-content: space-around;
    }
}

.bottom-content .text-container {
    padding-right: 6%;
}

@media (max-width: 800px) {
    .bottom-content .text-container {
        width: 95%;
        padding: 0;
        margin-bottom: 1.5rem;
    }

    .bottom-content .text-container h2 {
        margin-bottom: 0.6rem;
    }

    .bottom-content .text-container p {
        line-height: 2rem;
        font-size: 1.3rem;
        color: #767676;
    }
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

@media (max-width: 800px) {
    footer nav {
        justify-content: center;
        width: 100%;
    }
}

footer nav a {
    margin: 0;
    color: white;
    text-decoration: none;
}

@media (max-width: 800px) {
    footer nav a {
        margin: 0.5rem 0;
    }
}